<footer class="bg-dark text-white text-center text-lg-start mt-5">
<div class="container p-4">
<div class="row">
<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
<h5 class="text-uppercase">About Us</h5>
<p>          THE ART OF THE GRAPEVINE<br>  It all began in Bordeaux, in the heart of the vines at Château Smith Haut Lafitte, the estate belonging to Mathilde’s parents. Caudalie is a unique story of love, nature, passion, chance encounters and a sense of adventure!

Let us tell you the story.
        </p>
      </div>
<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
<h5 class="text-uppercase">Contact Us</h5>
<ul class="list-unstyled mb-0">
<li>            <a href="mailto:info@example.com" class="text-white">info@example.com</a>
</li>          <li>            <a href="tel:+1234567890" class="text-white">+123 456 7890</a>
</li>          <li>            <a href="#" class="text-white">123 Street Name, City, Country</a>
          </li>        </ul>      </div>    </div>  </div>
<div class="text-center p-3" style="background-color: #391E39;">
© 2024 © Caudalie. All rights reserved.
  </div>  </footer>