{% extends "base.html" %}
{% block content%}
  <div class="container" style="margin-top: 50px;">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ product.image_url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
          <div class="col-md-6">
          <h1 style="font-size: 2rem; margin-bottom: 20px;">{{ product.name }}</h1>
          <p style="font-size: 1.5rem; color: #391E39; margin-bottom: 20px;">{{ product.price }}</p>
          <p style="margin-bottom: 20px;">{{ product.text }}</p>
          <button class="btn btn-primary btn-lg" style="background-color: #391E39; border-color: #391E39; color: white;">Add to Cart</button>
        </div>
      </div>
      </div>
{% endblock %}